.blog-content {
  flex: 1;
  max-width: 60%; /* Limit the width of blog content */
  margin-right: 20px; /* Space to the right */
}

.blog-content h2 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #135C3B;
  margin-bottom: 15px;
  line-height: 1.3;
}

.blog-content p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.blog-content a {
  color: #135C3B;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1rem;
}

.blog-content a:hover {
  text-decoration: underline; /* Underline on hover */
}

.image {
  width: 200px; /* Fixed width for images */
  height: fit-content; /* Height based on content */
  overflow-y: hidden; /* Hide overflow */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.image img {
  width: 100%; /* Ensure image fills container */
  height: 100%;
}