/* Styles for the product description container */
.product-description {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 40px;
}

/* Styling for the product description heading */
.product-description > h2 {
  color: var(--primary);
}

/* Styling for the product description paragraph */
.product-description > p {
  color: gray;
}

/* Styling for the product price or special text */
.product-description > span {
  font-size: 25px;
  font-weight: bold;
  color: #373737;
}

/* Styles for the quantity selector container */
.quantity {
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  align-items: center;
}

/* Styles for add and minus buttons in the quantity selector */
.add-minus {
  background-color: #f3f1f1;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Close button for modal or pop-up */
#full-close {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 10px;
  color: #5a5a5a;
  cursor: pointer;
}

/* Styles for the add-to-cart button */
.add-to-cart {
  background-color: var(--primary);
  color: #fff;
  width: 80%;
  padding: 15px 20px;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
  font-weight: bold;
}

/* Hover effect for the add-to-cart button */
.add-to-cart:hover {
  background-color: var(--lightprimary);
}

/* Styling for product ratings (e.g., stars) */
.ratings {
  display: flex;
  gap: 5px;
  color: var(--primary);
  font-size: 20px;
}

/* Styles for filter section */
.filters {
  padding: 20px 10px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  background-color: #EAE9E9;
  font-family: Helvetica, Arial, sans-serif;
}

/* Styling for range input sliders */
input[type="range"] {
  -webkit-appearance: none;
  width: 50%;
  height: 8px;
  background: var(--primary);
  border-radius: 5px;
}

/* Styling for the range input thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--lightprimary);
  border-radius: 50%;
  cursor: pointer;
}

/* Styles for text input fields */
input[type="text"] {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
}

/* Styles for checked checkboxes */
input[type="checkbox"]:checked {
  background-color: var(--primary);
}
